<div id="content_about" class="content bg-semi" style="display:none">
  <div id="right_content" class="bg-semi" style="width:350px;">
    <p>〜アカペラーによるアカペラのためのサイト〜</p>
    <div id="description" style="margin-left:20px;">
      <p>☆ アカペラの楽譜を自由に共有！</p>
      <p>☆ 自分の書いた楽譜を歌ってもらえる！！</p>
      <p>☆ 書いた楽譜に対して評価が貰える！</p>
      <p>☆ アカペラレベルの向上に役立つ！！！</p>
    </div>
  </div>
</div>
