<head>
  <meta charset="UTF-8">
  <title>onebusiness</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/core.js"></script>
  <script type="text/javascript" src="/javascripts/work.js"></script>
</head>
