<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>share scores</title>
<meta name="copyright" content="cassy" />
<meta name="description" content="share scores" />
<meta name="keywords" content="share,score,a cappella" />

<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type='text/javascript' src='/javascripts/bootstrap.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-dropdown.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-button.js'></script>
<script type="text/javascript" src="/javascripts/base_script.js"></script>
</head>


<body>

<div class="row">
<div class="span11">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand red" href="/"><%= title %></div>
      <ul class="nav">
        <li class="active"><a href="/">Top</a></li>
        <% if (auth){ %>
        <li><a href="/MyScores">MyScores</a></li>
        <li><a href="/MyFavorites">Favorites</a></li>
        <% } else { %>
        <li><a onClick="alert('Please sign-in with twitter account');">MyScores</a></li>
        <li><a onClick="alert('Please sign-in with twitter account');">Favorites</a></li>
        <% } %>
      </ul>
      <ul class="nav pull-right">
      <li class="active">
      <% if (auth){ %>
      <a href="/signout"><u>Sign-out</u></a>
      <% } else { %>
      <a href="http://sharescores.q-x-p.net/auth/twitter"><u>Sign-in with twitter</u></a>
      <% } %>
      </li>
      </ul>
    </div>
  </div>
</div>

<div id="container" class="row">

<div id="sub" class="span2 margin-left-10">

<h3>Download Ranking</h3>
<ul class="submenu">
<li><a href="#">AllGenre</a></li>
<li><a href="#">JapaneseMusic</a></li>
<li><a href="#">ForeignMusic</a></li>
<li><a href="#">Arrenger</a></li>
<li><a href="#">Group</a></li>
</ul>

<h3>Upload Ranking</h3>
<ul class="submenu">
<li><a href="#">AllGenre</a></li>
<li><a href="#">JapaneseMusic</a></li>
<li><a href="#">ForeignMusic</a></li>
<li><a href="#">Arrenger</a></li>
<li><a href="#">Group</a></li>
</ul>
<p>hoho</p>

</div>
<!--/sub-->

<div id="main" class="span7 margin-left-50">

<h2>Notification</h2>
<p>hogehoge<br />
<a href="http://sharescores.q-x-p.net/" target="_blank">sample</a></p>

<h2>Recently Upload</h2>

<div class="new">
<dl>
<dt>2013/06/10</dt>
<dd><a href="/">hoho</a><img src="images/icon_new.gif" alt="NEW" width="30" height="11" /></dd>
</dl>
<dl>
<dt>2013/06/01</dt>
<dd>test<img src="images/icon_up.gif" alt="UP" width="30" height="11" /></dd>
</dl>
<dl>
<dt>2013/05/20</dt>
<dd>sample</dd>
</dl>
</div>
<!--/new-->

</div>
<!--/main-->

</div>
</div>

<div id="footer">
Copyright.
</div>
<!--/footer-->


</div>
<!--/container-->


</body>
</html>
