<!DOCTYPE html>
<html lang="ja">
  <% include header.ejs %>
  <body onLoad="background.load()" onresize="background.load()">
    <% include background.ejs %>
    <div id="container">
      <% if (!auth){ %>
        <% include signin.ejs %>
      <% } else { %>
        <% include navi.ejs %>
        <% include top.ejs %>
        <% include about.ejs %>
        <% include score.ejs %>
        <% include profile.ejs %>
        <% include help.ejs %>
        <% include setting.ejs %>
      <% } %>
      <hr>
    </div>
  </body>
</html>

