<div id="header">
  <div id="header_top" style="height: 100px;">
    <div id="title" style="float:left; margin-left:100px;">
      <h1>T i t l e</h1>
    </div>
    <div id="title_left" style="float:right;">
      <p align="right" style="margin:10px 20px;">
        <a onclick="handler.naviChange('signin')"><u>Sign-in</u></a>
      </p>
    </div>
  </div>
  <div id="header_navi">
    <ul class="navi-tabs">
      <li id="navi_tab_top" class="active">
        <a onclick="handler.naviChange('top')">top</a>
      </li>
      <li id="navi_tab_about">
        <a onclick="handler.naviChange('about')">About</a>
      </li>
      <li id="navi_tab_help">
        <a onclick="handler.naviChange('help')">Help</a>
      </li>
    </ul>
  </div>
</div>
