
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand red" href="/"><%= title %></div>
      <ul class="nav">
        <li class="active"><a href="/#view=all">All</a></li>
        <li><a href="/#view=friends">Friends</a></li>
        <li><a href="/#view=favorites">Favorites</a></li>
      </ul>
      <ul class="nav pull-right">
      <li class="active">
      <a href="http://whisper.q-x-p.net/auth/twitter"><u>Sign in with twitter</u></a>
      </li>
      </ul>
    </div>
  </div>
</div>
