<div id="header">
  <div id="header_top" style="height: 100px;">
    <div id="title" style="float:left; margin-left:100px;">
      <h1>T i t l e</h1>
    </div>
    <div id="title_left" style="float:right;">
      <p align="right" style="margin:10px 20px;">
        <a href="/signout"><u>Sign-out</u></a>
      </p>
      <p align="right" style="margin:10px 20px;">
        ようこそ <img src="<%= user.profile_image_url %>" style="width:30px; hight:30px;" />
          <font color=blue><%= user.screen_name %></font> さん
      </p>
    </div> 
  </div>
  <div id="header_navi">
    <ul class="navi-tabs">
      <li id="navi_tab_top" class="active">
        <a onclick="handler.naviChange('top')">top</a>
      </li>
      <li id="navi_tab_about">
        <a onclick="handler.naviChange('about')">About</a>
      </li>
      <li id="navi_tab_score">
        <a onclick="handler.naviChange('score')">My Score</a>
      </li>
      <li id="navi_tab_profile">
        <a onclick="handler.naviChange('profile')">Profile</a>
      </li>
      <li id="navi_tab_help">
        <a onclick="handler.naviChange('help')">Help</a>
      </li>
      <li id="navi_tab_setting">
        <a onclick="handler.naviChange('setting')">Setting</a>
      </li>
    </ul>
  </div>
</div>
