<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type='text/javascript' src='/javascripts/bootstrap.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap-dropdown.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap-button.js'></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand red" href="/"><%= title %></div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/#view=all">All</a></li>
              <li><a href="/#view=friends">Friends</a></li>
              <li><a href="/#view=favorits">Favorits</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="hero-unit span4">
          <p>ありがとう</p>
          <p>偶然出会った ありがとう</p>
          <p>店員さんに ありがとう</p>
          <p>身近な人に ありがとう</p>
          <p></p>
          <p>もう一度言いたい ありがとう</P>
          <p>今だから言いたい ありがとう</P>
          <p>今さら言えない ありがとう</p>
          <p>あのとき言えなかった ありがとう</p>
        </div>
        <div class="span5 offset1">
          <div class="row">
            [ありがとう]
          <div class="row-fluid">
            <textarea class="span10" id="thanx-message" placeholder="あなたの気持ちを"></textarea>
          </div>
          <div class="btn-toolbar" style="margin: 0;">
            <div class="btn-group">
              <button class="btn" id="thanx-whom">世界中に</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a onClick="$('#thanx-whom').html('世界中に');">世界中に</a><li>
                <li><a onClick="$('#thanx-whom').html('友だちに');">友だちに</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn" id="thanx-who">匿名で</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a onClick="$('#thanx-who').html('匿名で');">匿名で</a><li>
                <li><a onClick="$('#thanx-who').html('名前で');">名前で</a></li>
              </ul>
            </div>
            <a type="button" class="btn btn-primary" onClick="_message.send();">つたえる</a>
          </div>
          <hr color="black" size="4">
          <section class="clearfix">
          <div class="list-tabs">
            <div class="list-widget">
              <div class="list-head">Cassy</div>
              <div class="list-meta">2012</div>
              <ul>
                <li>ありがとう</li>
              </ul>
            </div>
            <div class="list-widget">
              ありがとう
            </div>
            <div class="list-widget">
              ありがとう
            </div>
          </div>
          </section>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/core.js"></script>
    <script type="text/javascript" src="/javascripts/work.js"></script>
    <script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    </script>
  </body>
</html>
