body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00B7FF; */
  color: block;
}

.red {
  color: red !important;
}

.hero-unit-20 {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.send-type {
  width: 100px;
}
button.none-border {
  border: 0px;
  background: none;
}

.feed-area {
  height: auto;
}

.feed-entry{
  border: 1px solid #ddd;
  padding: 15px 15px 35px 15px;
  margin-bottom: 18px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  height: auto;
  list-style-type: none;
}

.entry-form {
    padding: 15px;
    margin-bottom: 15px;
    background: -moz-linear-gradient(
    top,
    #d1d1d1 0%,
    #f0f2f5 15%,
    #d1d1d1);
    background: -webkit-gradient(
    linear, left top, left bottom,
    from(#d1d1d1),
    color-stop(0.15, #f0f2f5),
    to(#d1d1d1));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    -moz-box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    text-shadow:
    0px -1px 1px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}

.feed-head {
}

.feed-head .name {
  float: left;
}

.feed-head .info {
  float: right;
}

.feed-text {
  position: relative;
  top: -10px;
}


.offset05 {
  margin-left: 50px;
}

.left-contents {
  float: left;
}

#star {
  float: right;
}
