body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00B7FF; */
  color: block;
}

.red {
  color: red !important;
}

.hero-unit-20 {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.send-type {
  width: 100px;
}
button.none-border {
  border: 0px;
  background: none;
}

.feed-area {
  height: auto;
}

.feed-entry{
  border: 1px solid #ddd;
  padding: 15px 15px 35px 15px;
  margin-bottom: 18px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  height: auto;
  list-style-type: none;
}

.feed-head {
}

.feed-head .name {
  float: left;
}

.feed-head .info {
  float: right;
}

.feed-text {
  position: relative;
  top: -10px;
}


.offset05 {
  margin-left: 50px;
}

.left-contents {
  float: left;
}

#star {
  float: right;
}
