body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*
  font-family: 'Kranky', cursive;
  font-family: 'Just Me Again Down Here', cursive;
  font-family: 'Indie Flower', cursive;
  */
  color: #FFFFFF;
  background-color: #000000;
}

a {
  /* color: #00B7FF; */
  color: block;
}

ul{
  list-style-type: none;
}

.red {
  color: red !important;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-50 {
  margin-left: 50px;
}

.hero-unit-20 {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.send-type {
  width: 100px;
}

button.none-border {
  border: 0px;
  background: none;
}

#container {
  /* width: 890px; */
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

#main .new {
	overflow: auto;
	height: 150px;			/*ボックスの高さ*/
	width: 440px;
	padding-right: 10px;
	padding-left: 10px;
}

#main .new dl {
	clear: left;
	width: 420px;
	border-bottom: 1px solid #cccccc;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}

#main .new dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}

#main .new dd {
	float: left;
	width: 520px;
}

#main .new dd img {
	vertical-align: middle;
}

/*IE6用*/
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}

#main {
	/* width: 660px; */
	padding-top: 30px;
	padding-bottom: 30px;
	/* float: right; */
}

/*h2タグ設定*/
#main h2 {
	color: #FFFFFF;	/*文字色*/
	background-image: url(../images/title_bg1.gif);	/*背景画像*/
	background-repeat: no-repeat;
	font-size: 100%;
	line-height: 40px;
	padding: 0px 10px;
	height: 40px;
	overflow: hidden;
}

/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;
}



/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
  float: left;
  width: 220px;
  /* padding-top: 30px; */
  padding-bottom: 30px;
}

/*h3タグ設定*/
#sub h3 {
	font-size: 100%;
	color: #0074fd;	/*文字色*/
	border-bottom: 3px solid #0074fd;	/*下線の幅、線種、色*/
}

/*段落タグ*/
#sub p {
	padding-top: 0.5em;
	padding-bottom: 1em;
}



/*サブメニュー
---------------------------------------------------------------------------*/
ul.submenu {
	margin-bottom: 1em;
}

ul.submenu a {
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;	/*下線の幅、線種、色*/
	display: block;
	width: 220px;
}

ul.submenu a:hover {
	background-color: #222222;	/*カーソルオーバー時の背景色*/
}





/*フッター
---------------------------------------------------------------------------*/
#footer {
	text-align: center;	/*中のテキストをセンタリング*/
	clear: both;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*フッター内にリンク設定した場合用*/
#footer a {
	color: #FFFFFF;
	text-decoration: none;
}
/* -------------------------------------- */
.feed-area {
  height: auto;
}

.feed-entry{
  border: 1px solid #ddd;
  padding: 15px 15px 35px 15px;
  margin-bottom: 18px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  height: auto;
  list-style-type: none;
}

.entry-form {
    padding: 15px;
    margin-bottom: 15px;
    background: -moz-linear-gradient(
    top,
    #d1d1d1 0%,
    #f0f2f5 15%,
    #d1d1d1);
    background: -webkit-gradient(
    linear, left top, left bottom,
    from(#d1d1d1),
    color-stop(0.15, #f0f2f5),
    to(#d1d1d1));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    -moz-box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    box-shadow:
    0px -2px 3px rgba(000,000,000,0),
    inset 0px -1px 0px rgba(255,255,255,0.4);
    text-shadow:
    0px -1px 1px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}

.feed-head {
}

.feed-head .name {
  float: left;
}

.feed-head .info {
  float: right;
}

.feed-text {
  position: relative;
  top: -10px;
}


.offset05 {
  margin-left: 50px;
}

.left-contents {
  float: left;
}

#star {
  float: right;
}
